=render 'shared/header'
.form-page
  .my-page
    =render 'shared/leftBar'
    .my-status
      .my-status__purchased-items
        .purchased-title
          出品した商品
        .purchased-tabs
          = link_to '#', id: 'during-trading-tab', class: 'mypage-tab' do
            出品中
          = link_to '#', id: 'transacted-tab', class: 'mypage-tab' do
            売却済み
        .purchased-lists
          %ul
            %li
              =link_to "#" do
                .image-box
                  = image_tag "pict-reason-03.jpg"
                .text
                  Ray-ban RB4147 レイバン サングラス 美品
                .icon-arrow-right
                  = icon('fas', 'chevron-right')
            %li
              =link_to "#" do
                .image-box
                  = image_tag "pict-reason-03.jpg"
                .text
                  Ray-ban RB4147 レイバン サングラス 美品
                .icon-arrow-right
                  = icon('fas', 'chevron-right')
            %li
              =link_to "#" do
                .image-box
                  = image_tag "pict-reason-03.jpg"
                .text
                  Ray-ban RB4147 レイバン サングラス 美品
                .icon-arrow-right
                  = icon('fas', 'chevron-right')
            %li
              =link_to "#" do
                .image-box
                  = image_tag "pict-reason-03.jpg"
                .text
                  Ray-ban RB4147 レイバン サングラス 美品
                .icon-arrow-right
                  = icon('fas', 'chevron-right')
          -# .purchased-lists--message
          -#   出品中の商品がありません←←←←←if文で表示させるshunのmemo
=render 'shared/footer'