=render 'shared/header'
.form-page
  .my-page
    =render 'shared/leftBar'
    .my-status
      .my-status__purchased-items
        .purchased-title
          出品した商品
        .purchased-tabs
          = link_to exhibitionList_user_path, id: 'transacted-tab', class: 'mypage-tab' do
            出品中
          = link_to soldList_user_path, id: 'during-trading-tab', class: 'mypage-tab' do
            売却済み
        .purchased-lists
          - if @sold_items.present?
            - @sold_items.each do |item|
              %ul
                =link_to item_path(item) do
                  %li
                    .image-box
                      = image_tag item.images[0].image.url
                    .text
                      = item.title
                    .icon-arrow-right
                      = icon('fas', 'chevron-right')
          - else
            .purchased-lists--message
              購入した商品がありません
=render 'shared/footer'