.form-foot
  .nav
    = link_to "#", class: "text" do
      プライバシーポリシー
    = link_to "#", class: "text" do
      利用規約
    = link_to "#", class: "text" do
      特定商取引に関する表記
  = link_to "#" do
    = image_tag "logo.png",class: "foot-icon"
  %p © furima, Inc.