.search-results-tmp
  .search-results-tmp__disp-area

    - @roots_cat.length.times do |count|
      .search-results-tmp__disp-area--search-title
        = @roots_cat[count].name

      .search-products-list
        - @items[count].each do |item|
          = link_to item_path(item.id), class: "link" do
            .search-product-block
              .search-product-block__product-img
                = image_tag item.images[0].image.url, class: "img-conf"
                .search-product-block__product-img--on-price
                  = "¥ " + item.price.to_s(:delimited)
              .search-product-block__product-name
                = simple_format(item.description)
                .search-product-block__product-name--white-mask

