.side-menu
  = link_to user_path(current_user), class: 'side-menu__content' do
    購入した商品
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  = link_to new_item_path, class: 'side-menu__content' do
    出品する
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  = link_to exhibitionList_users_path, class: 'side-menu__content' do
    出品した商品-出品中
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  = link_to soldList_users_path, class: 'side-menu__content' do
    出品した商品-売却済み
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  = link_to contact_users_path, class: 'side-menu__content' do
    お問い合わせ
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  .side-menu__sub-title
    設定
  = link_to user_path(current_user), class: 'side-menu__content' do
    プロフィール
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  - if @address.blank?
    = link_to new_address_path, class: 'side-menu__content' do
      発送元・お届け先住所の登録
      .side-menu__content--arrow
        = icon('fas', 'chevron-right')

  - else
    = link_to edit_address_path, class: 'side-menu__content' do
      発送元・お届け先住所の変更
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  - if @card.blank?
    = link_to new_card_path, class: 'side-menu__content' do
      支払い方法の登録
      .side-menu__content--arrow
        = icon('fas', 'chevron-right')

  - else
    = link_to card_index_path, class: 'side-menu__content' do
      支払い方法
      .side-menu__content--arrow
        = icon('fas', 'chevron-right')

  = link_to '#', class: 'side-menu__content' do
    メール/パスワード
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')

  = link_to '#', class: 'side-menu__content' do
    本人情報     
    .side-menu__content--arrow
      = icon('fas', 'chevron-right')