.form-page
  = render "shared/form-head"
  .form-body
    .container
      .container__title
        商品の情報を編集
      .container__body
        .body__form
          = form_with model: @item, url: item_path, local: true, method: :PATCH do |f|
            .form__images
              .title
                .text
                  出品画像
                %span.require
                  必須
              %p 最大10枚までアップロードできます
              .images__container
                %ul.prev-content
                  - @item.images.each do |image|
                    %li.preview-box
                      %figure.upper-box
                        = image_tag image.image.url
                      .lower-box
                        .delete-box
                          削除
                .prev-content
                .label-content
                  %label{for: "item_images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--0"}
                    %pre.label-box__text クリックしてファイルをアップロード
                .hidden-content
                  = f.fields_for :images do |i|
                    // 10個のfile_fieldを準備する
                    // previewが出ている数のfile_fieldとdelete用のチェックボックスを設置
                    = i.file_field :image, class: "hidden-field"
                    = i.check_box :_destroy, class: "hidden-checkbox"
                    // 上記で設置した分と合わせて10個にするために、足りない分を表示
                  - @item.images.length.upto(9) do |i|
                    %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class: "hidden-field", type: "file"}
            .title
              .text
                商品名
              %span.require
                必須
            =f.text_field :title, class: "item-text-field", placeholder: '商品名（必須40文字まで）'
            .title
              .text
                商品の説明
              %span.require
                必須
            =f.text_area :description, class: "item-text-area", placeholder: '商品の説明（必須1000文字以内）'
            .category-form
              .title
                .text
                  カテゴリー
                %span.require
                  必須
              = f.collection_select :category_id, @parents, :id, :name, {prompt: "---", selected: @parent.id}, class: "item-select", id: "l_category"
              = f.collection_select :category_id, @childCats, :id, :name, {prompt: "---", selected: @child.id}, class: "item-select", id: "m_category"
              = f.collection_select :category_id, @grandChildCats, :id, :name, {prompt: "---"}, class: "item-select", id: "s_category"
            .title
              .text
                商品の状態
              %span.require
                必須
            =f.collection_select :condition_id, Condition.all, :id, :name, {prompt: '---'}, class: "item-select", id: "condition"
            .title
              .text
                配送料の負担
              %span.require
                必須
            =f.collection_select :postage_id, Postage.all, :id, :name, {prompt: '---'}, class: "item-select", id: "postages"
            .title
              .text
                発送元の地域
              %span.require
                必須
            =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '---'}, class: "item-select", id: "prefecture"
            .title
              .text
                発送までの日数
              %span.require
                必須
            =f.collection_select :schedule_id, Schedule.all, :id, :name, {prompt: '---'},  class: "item-select", id: "schedule"
            .title
              .text
                価格
              %span.require
                必須
            =f.text_field :price, class: "item-text-field", id: "price_calc", placeholder: '販売価格(300〜9,999,999)'
            .text
              販売手数料 (10%)
              .commission -
            .text
              販売利益
              .profit -
            =f.submit '更新する', class: "submit-btn"
            =link_to :back do
              %button.back-btn もどる
  = render "shared/form-foot"