.form-page
  =render partial: 'shared/form-head'
  .container
    .container__title
      購入内容の確認
    .container__body
      .item-unit
        .item-unit__left
          = image_tag @item.images[0].image.url, alt: 'item1-1', class: 'image-1'
        .item-unit__right
          .right__title
            item1
          .right__price-box
            .price
              ¥
              = @item.price.to_s(:delimited)
            %span
              (税込)
            .price-box__postage
              送料込み
      .payment
        %span
          支払い金額
        .payment__amount
          ¥
          = @item.price.to_s(:delimited)
      .payment-method
        .confirmation-box 
          .confirmation-box__heading
            支払い方法
          .confirmation-box__detail
            - if @default_card_information.blank?
              %br /
            - else
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
      .shipping-address
        .confirmation-box{ style: "width: 100%;"}
          - if @address.blank?
            .address-btn-master{style: "display: flex; justify-content: space-between;"}
              .confirmation-box__heading
                配送先
              =link_to new_address_path(current_user), class: 'shipping-address__changing-btn' do
                登録する
          - else
            .address-btn-master{style: "display: flex; justify-content: space-between;"}
              .confirmation-box__heading
                配送先
              =link_to edit_address_path(current_user), class: 'shipping-address__changing-btn' do
                変更する
            .confirmation-box__detail
              〒
              = @address.postal_code
              %br/
              = @address.prefecture
              = @address.city
              = @address.house_num
              = @address.detail
              %br/
              = @address.firstname
              = @address.lastname
      .purchase-btn
        = form_tag(action: :pay, method: :post) do
          %button.submit-btn{ style: "margin-top: 0; width: 100%;"} 購入する
  =render partial: 'shared/form-foot'