=render 'shared/header'
.item-show
  .item-box
    %h2.item-box__title
      = @item.title
    .item-box__images
      .item-box__images--scroll-image
        - @item.images.each do |image|
          .image-box
            = image_tag image.image.url
      .item-box__images--left-mask
      .item-box__images--right-mask
      
    .item-box__price-box
      %span.price-box__price
        = "¥ " + @item.price.to_s(:delimited)
      .price-box__detail
        %span
          (税込)
        %span
          = @item.postage.name

    .item-box__description
      = @item.description
    .item-box__table
      %table
        %tbody
          %tr
            %th
              出品者
            %td
              = @user.nickname
          %tr
            %th
              カテゴリー
            %td
              =link_to '#' do
                = @category.root.name
              %br/
              =link_to '#' do
                = icon('fas', 'angle-right')
                = @category.parent.name
              %br/
              =link_to '#' do
                = icon('fas', 'angle-right')
                = @category.name
          %tr
            %th
              ブランド
            %td
          %tr
            %th
              商品のサイズ
            %td
          %tr
            %th
              商品の状態
            %td
              = @item.condition.name
          %tr
            %th
              配送料の負担
            %td
              = @item.postage.name
          %tr
            %th
              発送元の地域
            %td
              =link_to '#' do
                = @item.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = @item.schedule.name

        .body__purchase-btn
          - if user_signed_in? && current_user.id == @item.user_id
            =link_to edit_item_path do
              %button.submit-btn{ style: "width: 100%; font-size: 14px;"} 編集する
            =link_to item_path, method: :delete, data: {confirm: "本当に削除しますか?"} do
              %button.back-btn 削除する
          - else
            .body__purchase-btn
              = link_to purchase_item_path do
                %button.submit-btn{ style: "width: 100%;"} 購入する

  %ul.links
    %li
      =link_to '#' do
        = icon('fas', 'angle-left')
        前の商品
    %li
      =link_to '#' do
        後ろの商品
        = icon('fas', 'angle-right')
  .related-items
    =link_to '#' do
      = @category.root.name + "をもっと見る"
    .related-items__item-list
=render 'shared/footer'